@page
@model AplicacionWeb720.Pages.Participantes.EditarModel
@{
}

<br>
<h2>Editar Participante</h2>
<br />

<!-- Mensaje de error -->

@if (Model.campovacio.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role="alert">
        <strong>@Model.campovacio</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>

    </div>
}


<!-- Formulario para nuevos participantes -->

<form method="post">
    <input type="hidden" name="id" value="@Model.Participantes.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombre" value="@Model.Participantes.nombre" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Apellidos</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="apellidos" value="@Model.Participantes.apellidos" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Correo Electrónico</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="email" value="@Model.Participantes.email" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Teléfono</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="telefono" value="@Model.Participantes.telefono" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Año de nacimiento</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="fecha" value="@Model.Participantes.fecha" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Peso en kg</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="peso" value="@Model.Participantes.peso" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Altura en cm</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="altura" value="@Model.Participantes.altura" />
        </div>
    </div>

    <!-- Mensaje de éxito -->
    @if (Model.correcto.Length > 0)
    {
        <div class='alert alert-success alert-dismissible fade show' role="alert">
            <strong>@Model.correcto</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>

        </div>
    }


    <!-- Botones para enviar o cancelar -->
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class"btn btn-primary">Guardar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancelar</a>
        </div>
    </div>
</form>

