@page
@model AplicacionWeb720.Pages.Participantes.IndexModel
@{
}

<br />
<h2>Participantes</h2>
<a class='btn btn-primary btn-sm' href='/Participantes/Crear'>Nuevo Participante</a>

<table class="table">
    <thead>
        <tr>
            <th>Dorsal</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listaParticipantes)
        {
            <tr>
                <td>@item.dorsal</td>
                <td>@item.apellidos, @item.nombre</td>
                <td>@item.email</td>
                <td>@item.telefono</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Participantes/Editar?id=@item.id">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Eliminar?id=@item.id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>

</table>